* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    margin-top: 25px;
}

#logo {
    width: 64px;
}

#headerTitle {
    font-weight: bold;
    font-size: 30px;
}

#spaceText,
#welcome {
    color: #F38D68;
}

main .background {
    background: url(../img/nasa-naut.jpg);
    background-size: cover;
    padding: 100px;
    margin-top: 25px;
}

.overlay-background {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 200vh;
    overflow: hidden;
    overflow-y: auto;
}

.overlay-background.hidden {
    opacity: 0;
}

.overlay {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    background-color: white;
    width: 50vw;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 5px;
    padding: 20px 30px;
}

footer {
    font-size: 8px;
    text-decoration: none;
    color: black;
}