* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    margin-top: 25px;
}

#logo {
    width: 64px;
}

#headerTitle {
    font-weight: bold;
    font-size: 30px;
}

#spaceText {
    color: #F38D68;
}

main .background {
    background: url(../img/nasa-naut.jpg);
    background-size: cover;
    padding: 100px;
    margin-top: 25px;
}

main form {
    
}

footer {
    font-size: 8px;
    text-decoration: none;
    color: black;
}